body {
    font-family: Arial, sans-serif;
}

#controls {
    text-align: center;
    margin-bottom: 20px;
}

#buttons button {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

#year-slider {
    margin: 20px;
}

.chart {
    width: 800px;
    height: 400px;
    margin: 50px auto;
}
