.chart {
    width: 800px;
    height: 400px;
    margin: 50px auto;
}

path {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5;
}

.bar {
    fill: orange;
}

.bubble {
    fill: green;
}
